
<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbar" data-bs-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
  <a href="index.html">Statistiques globales</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-leaf"></span>
     
    OAB
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="oab_all.html">Statistiques globales OAB</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">Protocoles</li>
    <li>
      <a href="oab_nichoir.html">Nichoir</a>
    </li>
    <li>
      <a href="oab_planche.html">Planche</a>
    </li>
    <li>
      <a href="oab_transect.html">Transect</a>
    </li>
    <li>
      <a href="oab_placette.html">Placette</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-leaf"></span>
     
    Réseau ENI
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="ENI_all.html">Statistiques globales ENI</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">Protocoles</li>
    <li>
      <a href="ENI_oiseau.html">Oiseaux</a>
    </li>
    <li>
      <a href="ENI_coleoptere.html">Coléoptère</a>
    </li>
    <li>
      <a href="ENI_flore.html">Flore</a>
    </li>
    <li>
      <a href="ENI_versdeterre-moutarde.html">Vers de terre - moutarde</a>
    </li>
    <li>
      <a href="ENI_versdeterre-beche.html">Vers de terre - bèche</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-school"></span>
     
    Vigie-Nature École
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="VNE_all.html">Statistiques globales</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">Protocoles</li>
    <li>
      <a href="VNE_oiseauxdesjardins.html">Oiseaux des jardins</a>
    </li>
    <li>
      <a href="VNE_operationescargots.html">Opération Escargot</a>
    </li>
    <li>
      <a href="VNE_escargotsdesjardins(inventaire).html">Opération Escargot (inventaire)</a>
    </li>
    <li>
      <a href="VNE_sauvagesdemarue.html">Sauvages de ma rue</a>
    </li>
    <li>
      <a href="VNE_biolit.html">Biolit Junior</a>
    </li>
    <li>
      <a href="VNE_alamer.html">ALAMER</a>
    </li>
    <li>
      <a href="VNE_lichengo.html">Lichen GO!</a>
    </li>
    <li>
      <a href="VNE_observatoiredesversdeterre.html">Placettes à vers de terre</a>
    </li>
    <li>
      <a href="VNE_spipoll.html">Spipoll</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-dove"></span>
     
    Grand public
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="plages_all.html">ALAMER</a>
    </li>
    <li>
      <a href="spipoll_all.html">Spipoll</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-leaf"></span>
     
    Gestionnaires
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="gestionnaires_all.html">Statistiques globales</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="gestionnaires_florileges.html">Florilège</a>
    </li>
    <li>
      <a href="gestionnaires_propage.html">Propage</a>
    </li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="fa fa-crow"></span>
     
    Naturalistes
     
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="Vigie-Chiro_all.html">Vigie-Chiro</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">Protocoles</li>
    <li>
      <a href="Vigie-Chiro_point_fixe.html">Point-fixe</a>
    </li>
    <li>
      <a href="Vigie-Chiro_routier.html">Routier</a>
    </li>
    <li>
      <a href="Vigie-Chiro_pedestre.html">Pedestre</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="Vigie-flore_all.html">Vigie-Flore</a>
    </li>
  </ul>
</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
  <a href="help.html">
    <span class="fa fa-question fa-lg"></span>
     
  </a>
</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
